@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --hue-red: 25;
    --hue-pink: 350;
    --hue-purple: 310;
    --hue-violet: 290;
    --hue-indigo: 270;
    --hue-blue: 240;
    --hue-cyan: 210;
    --hue-teal: 185;
    --hue-green: 145;
    --hue-lime: 125;
    --hue-yellow: 100;
    --hue-orange: 75;
    --hue-zinc: 1;
    --hue-wine: 7;

    --swatch1: oklch(94% 0.04 var(--hue-pink));
    --swatch2: oklch(89% 0.09 var(--hue-pink));
    --swatch3: oklch(74% 0.24 var(--hue-pink));
    --swatch4: oklch(65% 0.33 var(--hue-pink));
    --swatch5: oklch(60% 0.3 var(--hue-pink));
    --swatch6: oklch(50% 0.255 var(--hue-pink));
    --swatch7: oklch(35% 0.18 var(--hue-pink));
    --swatch8: oklch(25% 0.12 var(--hue-pink));
    --swatch9: oklch(20% 0.06 var(--hue-pink));
    --swatch10: oklch(13% 0.06 var(--hue-pink));

    --text1: var(--swatch1);
    --text2: var(--swatch2);
    --link: var(--swatch3);
    --primary: var(--swatch6);
    --border: var(--swatch3);
    --bar: var(--swatch6);
    --surface1: var(--swatch1);
    --surface2: var(--swatch2);
    --surface3: var(--swatch3);
  }

  /* Apply dark mode adjustments without repeating :root */
  .dark {
    --swatch1: oklch(13% 0.06 var(--hue-pink));
    --swatch2: oklch(20% 0.06 var(--hue-pink));
    --swatch3: oklch(25% 0.12 var(--hue-pink));
    --swatch4: oklch(35% 0.18 var(--hue-pink));
    --swatch5: oklch(50% 0.255 var(--hue-pink));
    --swatch6: oklch(60% 0.3 var(--hue-pink));
    --swatch7: oklch(65% 0.33 var(--hue-pink));
    --swatch8: oklch(74% 0.24 var(--hue-pink));
    --swatch9: oklch(89% 0.09 var(--hue-pink));
    --swatch10: oklch(94% 0.04 var(--hue-pink));

    --text1: var(--swatch1);
    --text2: var(--swatch2);
    --link: var(--swatch3);
    --primary: var(--swatch6);
    --border: var(--swatch3);
    --bar: var(--swatch6);
    --surface1: var(--swatch10);
    --surface2: var(--swatch9);
    --surface3: var(--swatch8);
  }
}
